body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color: #ff69b4; /* rosa */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f9f3f3;
}

.message {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
    text-shadow: 1px 1px 1px #ffffff;
}

#countdown {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.heart {
    font-size: 72px; /* Aumentando o tamanho do coração */
    margin: 0 5px;
    color: #ff69b4; /* rosa */
    opacity: 1;
    animation: pulse 1s infinite alternate; /* Animação de pulsação */
}

@keyframes pulse {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

.hidden {
    display: none;
}

.fade-in-out {
    animation: fadeInOut 2s linear forwards; /* Animação de aparecer e desaparecer */
}

@keyframes fadeInOut {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}
